<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="MusicBeePlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup/><userSettings>
  <MusicBeePlugin.Properties.Settings>
   <setting name="userToken" serializeAs="String">
    <value></value>
   </setting>
   <setting name="playCountSync" serializeAs="Boolean">
     <value></value>
   </setting>    
  </MusicBeePlugin.Properties.Settings>
 </userSettings>
</configuration>
